@import url(./partials.css);

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--secondary-color);
}

.cyan-color {
  color: var(--primary-color);
}

.preloader {
  background: #21242d url(../assets/loader.gif) no-repeat center center;
  background-size: 30%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/*==================================Banner Start==================================*/

.banner {
  background-image: linear-gradient(#04091eb3, #04091eb3),
    url(../assets/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-1 {
  text-align: center;
  color: white;
}

.helloworld {
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0;
}

.name {
  font-weight: 700;
  font-size: 75px;
}

.desgn {
  line-height: 0;
  letter-spacing: 2px;
  opacity: 75%;
}

.about-me-btn {
  padding: 12px 20px;
  margin: 30px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 0;
  border-width: 2px;
}

.s-m-icons{
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%,-50%);
}

.s-m-icons a {
  padding: 10px;
  font-size: 20px;
}


/*==================================Banner Start==================================*/

/*==================================featured Projects Start==================================*/

.featured-projects-titles {
  padding-top: 5%;
  text-align: center;
}

.fp-title {
  color: var(--bs-cyan);
  letter-spacing: 2px;
  font-weight: 700;
}

.fp-description {
  margin-top: 10px;
  font-weight: 400;
}

/*==================================featured Projects End==================================*/

/*==================================About Start==================================*/

.about {
  padding: 80px 0px;
}

.about-titles {
  text-align: center;
}

.a-title {
  color: var(--bs-cyan);
  letter-spacing: 2px;
  font-weight: 700;
}

.a-description {
  margin-top: 10px 0px;
  font-weight: 400;
}

.profile-pic {
  width: 40%;
}

.about-titles p {
  margin: 10px 0px;
}

.about-l {
  padding: 15px;
}

.ap-intro {
  text-align: justify;
  margin: 20px 0px;
}

.about-r {
  padding: 15px;
}

.progress-bar {
  background-color: var(--primary-color);
}

.about-secondary .text {
  letter-spacing: 1px;
}

.about-btns {
  padding-top: 3%;
  text-align: center;
}

.about-btns .btn {
  font-size: 1rem;
  font-weight: 600;
  height: 50px;
  width: 300px;
  border-radius: 0px;
  letter-spacing: 0.1rem;
}

.ab-light {
  color: black;
  background-color: white;
  outline-color: black;
  outline-width: 1px;
  outline-style: solid;
  margin: 10px 20px;
  padding: 10px;
}

.ab-dark {
  color: white;
  background-color: black;
  outline-color: white;
  outline-width: 1px;
  outline-style: solid;
  margin: 10px 20px;
  padding: 10px;
}

/*==================================About End==================================*/

/*==================================Resume Start==================================*/

.resume {
  background-color: var(--light-bg-gray);
  padding: 80px;
}

.resume-titles {
  text-align: center;
}

.r-title {
  color: var(--bs-cyan);
  letter-spacing: 2px;
  font-weight: 700;
}

.r-description {
  font-weight: 400;
}

.r-title-2 {
  margin: 20px;
  color: var(--bs-cyan);
  letter-spacing: 2px;
}

.sm-content-1 {
  text-align: right;
}

.edu-title-l {
  font-weight: 700;
}

.edu-description-l {
  font-size: small;
  font-style: italic;
}

.circle {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: black;
  border-radius: 100%;
}

.circle-icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

.sm-content-2 {
  text-align: left;
}

.sm-content-icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.edu-title-r {
  margin-bottom: 10px;
}

.edu-description-r {
  font-weight: 400;
  line-height: 150%;
  font-style: italic;
}

.fa-arrow-right-long {
  visibility: hidden;
  position: absolute;
}

/*==================================Resume End==================================*/

/*==================================Portfolio Start==================================*/

.portfolio {
  padding: 80px 0px;
}

.portfolio-titles {
  text-align: center;
}

.p-title {
  color: var(--bs-cyan);
  letter-spacing: 2px;
  font-weight: 700;
}

.p-description {
  font-weight: 400;
}

.p-description-2 {
  margin-top: 15px;
}

.portfolio-projects {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.p-projects {
  margin: 10px;
}

/*==================================Portfolio End==================================*/

/*==================================Contact Start==================================*/

.contact {
  background-color: var(--dark-bg-color);
}

.contact-1 {
  color: white;
  padding: 80px 0px 40px 0px;
  text-align: center;
}

.contact-titles {
  padding-bottom: 30px;
}

.c-title {
  color: var(--bs-cyan);
  letter-spacing: 5px;
  font-weight: 700;
}

.c-description {
  font-weight: 400;
}

.c-description-2 {
  margin-top: 15px;
  font-style: italic;
  font-weight: 300;
  opacity: 75%;
}

form {
  margin: none;
}

.input-field {
  background-color: var(--dark-bg-color);
  color: white;
  border: none;
  width: 60%;
  outline: none;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 8px 0px;
  border-bottom: 2px solid var(--bs-cyan);
}

.submitform {
  padding: 15px;
  margin-top: 20px;
  color: white;
  font-weight: 600;
  width: 60%;
  letter-spacing: 2px;
  outline: none;
  border: none;
  background-color: var(--bs-cyan);
}

.submitform:hover {
  background-color: var(--secondary-color);
}

/*==================================Contact End==================================*/

/*==================================Contact-2 Start==================================*/

.contact-2 {
  padding-bottom: 30px;
  text-align: center;
}

.c-icon {
  margin: 10px;
  font-size: 30px;
  color: white;
}

.c-c-title {
  padding: 5px;
  font-weight: bolder;
  color: var(--bs-cyan);
}

.c-c-description {
  color: gray;
  font-weight: 200;
  letter-spacing: 1px;
}

/*==================================Conatct-2 End==================================*/

/*==================================Footer Start==================================*/

.footer {
  padding-bottom: 20px;
  background-color: var(--dark-bg-color);
}

.f-text {
  padding: 15px 0 0 0;
  color: gray;
  letter-spacing: 1px;
  text-align: center;
  font-size: medium;
}

.f-name {
  color: white;
}

.f-icons {
  padding: 10px 0 10px 0;
  text-align: center;
}

.f-icons a {
  font-size: large;
  margin: 0 10px;
  color: white;
}

.f-icons a:hover {
  color: var(--bs-cyan);
}

/*==================================Footer End==================================*/
